/* Add CSS Styling */

.odd {
    background-color: rgb(226, 102, 102);
    font-family: Verdana, "DejaVu Sans", sans-serif;


}

.second {
    color: rgb(23, 23, 255);
    font-size: 36px;
}

.third {
    font-size: 24px;
}

.fourth {
    background-color: rgb(94, 249, 94);
}

